<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <py-script src="python.py"></py-script>
    <script src="https://kit.fontawesome.com/eb548ecb9b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <ul>
            <li>Name of webapp along with logo</li>
            <a href="index.html"><li><i class="fa-solid fa-house"></i>HOME</li></a>
            <a href="announcements.html"><li><i class="fa-solid fa-bullhorn"></i>ANNOUNCEMENTS</li></a>
            <a href="events.html"><li><i class="fa-solid fa-calendar"></i>EVENTS</li></a>
            <a href="accomplishments.html"><li><a href="accomplishments.html"><i class="fa-solid fa-chart-line"></i>ACCOMPLISHMENTS</li></a>
            <a href="profile.html"><li><i class="fa-solid fa-user"></i>MY PROFILE</li></a>
        </ul>
    </div>
    <div id="upload">
        <a href="upload.html"><div id="uploadbtn"><i class="fa-solid fa-arrow-up-from-bracket"></i></div></a>
    </div>
    <div id="announcementpage">
        
    </div>
    
</body>
</html>