<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/demo.css') }}"
    />
    <script src="script.js"></script>
    <py-script src="python.py"></py-script>
    <script src= "script.js"></script>
</head>
<body>
    <div class="navbar">
           <!-- Main content -->
           <div id="main-content">
            <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776; Faculty LinkHub </span>
        
    
        <!-- Sidebar -->
        <div id="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
            <a href="{{ url_for('events_page')}}">Events 1</a>
            <a href="{{ url_for('accomplishments_page')}}">Accomplishments</a>
            <a href="{{ url_for('announcements_page')}}">Announcements</a>
            <a href="#section4">Section 4</a>
          </div>
</head>
    </div>
    <div id="upload">
        <a href="upload.html"><div id="uploadbtn"><i class="fa-solid fa-arrow-up-from-bracket"></i></div></a>
    </div>
</body>
</html>