<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="demo.css">
    <script src="script.js"></script>
    <py-script src="python.py"></py-script>
    <script src="script.js"></script>
</head>
<body>
    
    <!-- Main content -->
    <div id="main-content">
        <span style="font-size:30px;cursor:pointer" onclick="openSidebar()">&#9776; Faculty LinkHub </span>
    

    <!-- Sidebar -->
    <div id="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
        <a href="events.html">Events</a>
        <a href="accomplishments.html">Accomplishments</a>
        <a href="announcements.html">Announcements</a>
        <a href="#section4">Profile</a>
      </div>

    <div id="usernameUpload">
        <p>Username:Username along with their uploaded picture</p>
    </div>
    <form name="uploadAnnouncementForm">
    <div id="titleUpload">
        <label for="titleText">TITLE:</label>
        <input type="text" placeholder="ENTER" id="titleText" size ="90px" name="titleText">
    </div>

    <div id="dateUpload">
        <label for="date">Date(If applicable)</label>
        <input type="date" id="date" name="date">
    </div>
    <div id="pdfUpload">
        <label for="fileupload">Upload file:</label>
        <input type="file" id="fileupload">
    </div>
    <div id="descriptionUpload">
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="20" cols="20"></textarea>
    </div>
    <button id="eventsUpload" value="POST" onclick="uploadAnnouncement(event)">SUBMIT</button>
</form>
</body>
</html>